@model string

@using CastleWindsorAspNetCoreFacilityRepro.Services
@{
    ViewData["Title"] = "Home Page";
}

@inject IFacade Facade
@*@inject IService Service*@

<div class="text-center">
	<h2>Controller</h2>
	<pre>@Model</pre>
	
	<h2>@@inject</h2>
	<p>@Facade.GetInfo()</p>
	<p>@*@Service.GetInfo()*@</p>
</div>
